div {
    text-align: center;
    color: purple;
}
.liststyle {
    display: table;
    margin: auto;
    text-align: left;
}

.liststyle li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14;
    margin: 1px 1px 1px 1px;
    padding: 2px 2px 2px;
}
